@model IEnumerable<VnBookLibrary.Model.Entities.CommentProduct>

@{
    ViewBag.Title = "Phê duyệt bình luận | VnBook";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h3>Danh sách các bình luận</h3>
<hr />
<table class="table table-bordered UseDataTables" id="TableComment">
    <thead>
        <tr>
            <th>
                Khách hàng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                Nội dung bình luận
            </th>
            <th>
                Thời gian bình luận
            </th>
            <th>
                Tình trạng
            </th>
            <th data-orderable="false">Phê duyệt</th>
        </tr>
    </thead>
    <tbody>
        @{Html.RenderAction("_TableComment", "CommentProducts",new { Area="Manage"});}
    </tbody>
</table>
<script>
    function LoadTableComment() {
        $.ajax({
            url: '@Url.Action("_TableComment", "CommentProducts", new { Area = "Manage" })',
            type: 'GET',
            dataType: 'html',            
            success: function (html) {
                $("#TableComment tbody").html(html)
            },            
        });
    }
    function SuccessDelete(rs) {
        LoadTableComment();
        if (rs.Status == true) {
            Lobibox.notify('success', {
                size: 'mini',
                rounded: true,
                delayIndicator: false,
                msg: rs.Message,
                sound: false,
            });
        }
        else {
            Lobibox.notify('warning', {
                size: 'mini',
                rounded: true,
                delayIndicator: false,
                msg: rs.Message,
                sound: false,
            });
        }
    }
    function SuccessDisplayComment(rs) {
        LoadTableComment();
        //if (rs.Status == true) {            
        //    Lobibox.notify('success', {
        //        size: 'mini',
        //        rounded: true,
        //        delayIndicator: false,
        //        msg: rs.Message,
        //        sound: false,
        //    });
        //}
        //else {
        //    Lobibox.notify('warning', {
        //        size: 'mini',
        //        rounded: true,
        //        delayIndicator: false,
        //        msg: rs.Message,
        //        sound: false,
        //    });
        //}
    }
    function SubmitDelete(id) {
        if (confirm("Bạn có thực sự xóa bình luận này không!")) {
            $("#FormDelete" + id).submit();
        }
    }
</script>
