@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập quản trị | VnBook</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/Manage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Assets/Manage/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Assets/Manage/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Assets/Manage/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Lobibox -->

    <link rel="stylesheet" href="~/PluginFrontend/lobibox-master/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/PluginFrontend/lobibox-master/dist/css/lobibox.min.css" />
    <style>
        body {
            transition: 3s;
        }

        .login-container {
            margin-top: 50px;
            margin-bottom: 50px;
            border: 1px solid #CCD1D1;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            max-width: 100%;
        }

        .ads {
            background-color: #fff;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            color: #fff;
            padding: 15px;
            text-align: center;
        }

        #fl {
            font-weight: 600;
        }

        #sl {
            font-weight: 100 !important;
        }

        .profile-img {
            text-align: center;
        }

            .profile-img img {
                border-radius: 50%;
                /* animation: mymove 2s infinite; */
            }

        @@keyframes mymove {
            from {
                border: 1px solid #F2F3F4;
            }

            to {
                border: 8px solid #F2F3F4;
            }
        }

        .login-form {
            padding: 15px;
        }

            .login-form h3 {
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
            }

        .form-control {
            font-size: 14px;
        }

        .forget-password a {
            font-weight: 500;
            text-decoration: none;
            font-size: 14px;
        }

        table tr td {
            font-size:16px;
            border: none !important;
            text-align: left;
            color: black !important;
        }
    </style>
</head>

<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 ads">
                <h3 style="color:black">TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP HÀ NỘI</h3>
                <h4 style="color:black;margin-top:10px!important">KHOA CÔNG NGHỆ THÔNG TIN</h4>
                <img style="height:120px;" src="~/Assets/Pic/haui.jpg" />
                <h1 style="color:red;font-weight:600">ĐỒ ÁN TỐT NGHIỆP</h1>
                <h4 style="color:black;padding:20px;line-height:35px">
                    NGHIÊN CỨU VỀ HỆ THỐNG GỢI Ý, ÁP DỤNG VÀO WEBSITE BÁN SÁCH
                </h4>
                <div style="">
                    <table style="display:flex;justify-content:center;align-content:center" class="table">
                        <tr>
                            <td style="width:200px!important">Giảng viên hướng dẫn:</td>
                            <td>TS.Ngô Đức Vĩnh</td>
                        </tr>
                        <tr>
                            <td>Sinh viên thực hiện:</td>
                            <td>Vũ Đình Huy</td>
                        </tr>
                        <tr>
                            <td>Mã sinh viên:</td>
                            <td>1041360388</td>
                        </tr>
                        <tr>
                            <td>Lớp - Khóa:</td>
                            <td>CNTT2 - K10</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 login-form">
                <div class="profile-img">
                    <img src="~/Assets/Pic/img_avatar.png" alt="profile_img" height="140px" width="140px;">
                </div>
                <h3>Đăng nhập quản trị</h3>
                @using (Html.BeginForm("Login", "Login", new { area = "Manage" }, FormMethod.Post, new { name = "FLoginManage", id = "FLoginManage" }))
                {
                    @Html.Hidden("returnURL", (string)ViewBag.ReturnURL, new { @id = "returnURL" })
                    <div class="form-group">
                        <input type="text" class="form-control" id="TenDangNhap" name="TenDangNhap" placeholder="Tên đăng nhập">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="MatKhau" name="MatKhau" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="SubmitFLoginManage()" class="btn btn-primary btn-lg btn-block">Đăng nhập</button>
                    </div>
                }
            </div>
        </div>
    </div>    

    <!-- jQuery -->
    <script src="~/Assets/Manage/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/Manage/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Assets/Manage/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Assets/Manage/dist/js/sb-admin-2.js"></script>

    <!--Lobibox js-->
    <script src="~/PluginFrontend/lobibox-master/js/lobibox.js"></script>
    <script>
        $(document).ready(function () {
            Lobibox.notify.DEFAULTS = $.extend({}, Lobibox.notify.DEFAULTS, {
                soundPath: '../../../../PluginFrontend/lobibox-master/sounds/',
            });
            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SubmitFLoginManage();
                }
            });
        });
        function SubmitFLoginManage() {
            if ($("#MatKhau").val().trim() == "" || $("#TenDangNhap").val().trim() == "") {
                Lobibox.notify('warning', {
                    size: 'mini',
                    rounded: true,
                    delayIndicator: false,
                    msg: 'Tên đăng nhập và mật khẩu là bắt buộc!',
                    sound: false,
                });
            }
            else {
                $("#FLoginManage").submit();
            }
        }
    </script>
    @{
        if (TempData["NotifyLogin"] != null)
        {
            <script>
                var jsonNotify = @Html.Raw(Json.Encode(TempData["NotifyLogin"]));
                $(document).ready(function () {
                    Lobibox.notify('info', {
                        size: 'mini',
                        rounded: true,
                        delayIndicator: false,
                        msg: jsonNotify.Message,
                        sound: false,
                    });
                });
            </script>
        }
        if (TempData["Notify"] != null)
        {
            <script>
                var jsonNotify = @Html.Raw(Json.Encode(TempData["Notify"]));
                $(document).ready(function () {
                    if (jsonNotify.Status == true) {
                        Lobibox.notify('success', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: jsonNotify.Message,
                            sound: false,
                        });
                    }
                    else {
                        Lobibox.notify('warning', {
                            size: 'mini',
                            rounded: true,
                            delayIndicator: false,
                            msg: jsonNotify.Message,
                            sound: false,
                        });
                    }
                });
            </script>
        }
    }
</body>

</html>
