@using PagedList.Mvc
@using PagedList
@using VnBookLibrary.Model.Entities;
@{
    IPagedList<Product> pagelListProduct = (IPagedList<Product>)ViewBag.PageListProduct;
}

<div id="ContentIndex">
    @{
        Html.RenderAction("_GetProductByPage", "Home", new
        {            
            Search = ViewBag.Search,
            CategoryLv1Id = ViewBag.CategoryLv1Id,
            CategoryLv2Id = ViewBag.CategoryLv2Id,
            CategoryAuthorId = ViewBag.CategoryAuthorId,
            CategoryPublisherId = ViewBag.CategoryPublisherId
        });
    }
</div>
@section scripts{   
}