@model VnBookLibrary.Model.Entities.CategoryByPublisher

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutManage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CategoryByPublisher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryByPublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryByPublisherName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryByPublisherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
